<header>
    <img src="assets/img/Logo_blu_due_righe.png" alt="UNIPV LOGO" width="200" height="80">&nbsp;
</header>

<h1>{{title}}</h1>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<nav>
    <a routerLink="/dashboard"><i class="material-icons">home</i>Home</a>&nbsp;
    <a routerLink="/books"><i class="material-icons">menu_book</i>Books</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

<footer>
    <p>Web Application developed with Angular 13.3.0</p>
</footer>

