h1 {
    color: #a9a9a9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:900;
    font-size: 300%;
    text-align: center;
}

h2 {
    color:#a9a9a9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:180%;
    font-weight:800;
}

body {
    background-color: #efefef;
}
